@model MovieTicketsPurchase.Domain.DomainModels.Order

<h1>Order Details</h1>
<div class="row mb-2">
    <label class="col-2"><strong>User </strong></label>
    <span>@Model.User</span>
</div>
<div class="row mb-2">
    <label class="col-2"><strong>Order ID </strong></label>
    <span>@Model.Id</span>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="text-right">#</th>
            <th scope="col">Movie</th>
            <th scope="col" style="width: 40%">Description</th>
            <th scope="col">Showtime</th>
            <th scope="col" class="text-right">Quantity</th>
            <th scope="col" class="text-right">Price</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.TicketsInOrder.Count; i++)
        {
            var item = Model.TicketsInOrder.ElementAt(i);
        <tr>
            <th scope="row" class="text-right">@(i + 1)</th>
            <td>@item.SelectedTicket.MovieName</td>
            <td>@item.SelectedTicket.MovieDescription</td>
            <td>@item.SelectedTicket.ShowTime</td>
            <td class="text-right">@item.Quantity</td>
            <td class="text-right">$@item.SelectedTicket.Price</td>
        </tr>
        }
</tbody>
    <tfoot class="border-bottom">
        <tr>
            <td colspan="4"><strong>Total</strong></td>
            <td class="text-right">
                @{int totalQuantity = 0;}
                @foreach (var ticket in Model.TicketsInOrder)
                {
                    totalQuantity += ticket.Quantity;
                }
                <strong>@totalQuantity</strong>
            </td>
            <td class="text-right">
                @{int totalPrice = 0;}
                @foreach (var ticket in Model.TicketsInOrder)
                {
                    totalPrice += ticket.Quantity * ticket.SelectedTicket.Price;
                }
                <strong>$@totalPrice</strong>
            </td>
        </tr>
    </tfoot>
</table>

<div class="row mt-5">
    <div class="col-12">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
