@model IEnumerable<MovieTicketsPurchase.Web.Models.Domain.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movie Tickets</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row">
@foreach (var item in Model)
{
    <div class="col-4">
        <div class="card" style="width: 240px;">
            <img class="card-img-top" src="@item.MovieImage" alt="Movie Poster" style="height: 360px;" />
            <div class="card-body">
                <h4 class="card-title">@item.MovieName</h4>
                <h5 class="card-subtitle text-secondary mb-2">@item.ShowTime</h5>
                <a asp-action="Details" asp-route-id="@item.TicketId">See Details &raquo;</a>
                <a asp-action="AddToCart" asp-route-id="@item.TicketId" class="btn btn-success btn-block text-white mt-2 mx-auto" style="width: 12rem;">Add to Cart</a>
            </div>
            <div class="card-footer d-flex justify-content-around">
                <a asp-action="Edit" asp-route-id="@item.TicketId" class="btn btn-outline-info" style="width: 6rem">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.TicketId" class="btn btn-outline-danger" style="width: 6rem">Delete</a>
            </div>
        </div>
    </div>
}
</div>